@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, sans-serif;
  line-height: 1;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

@theme {
  --font-geist: "Geist Mono", monospace;

  --color-primary-100: oklch(0.7319 0.1856 52.89);
  --color-primary-200: oklch(0.5214 0.212 259.94);
  --color-white: oklch(1 0 0);
  --color-gray-200: oklch(0.9271 0.0075 260.73);
  --color-gray-400: oklch(0.7565 0.0048 258.33);
  --color-gray-500: oklch(0.6167 0 0);
  --color-gray-600: oklch(0.5138 0 0);
  --color-gray-700: oklch(0.4422 0.0355 257.79);

  --breakpoint-xs: 23.75rem; /* 380 */
  --breakpoint-sm: 48rem; /* 768 */
  --breakpoint-md: 64rem; /* 1024 */
  --breakpoint-lg: 80rem; /* 1280 */
  --breakpoint-xl: 90rem; /* 1440 */
  --breakpoint-2xl: 105rem; /* 1680 */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Кастомные стили для ползунков */
.slider {
  appearance: none;
  -webkit-appearance: none;
  background: rgba(59, 130, 246, 0.4);
  border-radius: 8px;
  height: 6px;
}

.slider:hover {
  height: 8px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.2s;
}

.slider:hover::-webkit-slider-thumb {
  opacity: 1;
}

.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.2s;
  border: none;
}

.slider:hover::-moz-range-thumb {
  opacity: 1;
}

/* Стили для ползунка громкости */
.volume-slider {
  appearance: none;
  -webkit-appearance: none;
  background: rgba(59, 130, 246, 0.4);
  border-radius: 8px;
  height: 4px;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s;
}

.volume-slider:hover::-webkit-slider-thumb {
  opacity: 1;
}

.volume-slider::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s;
  border: none;
}

.volume-slider:hover::-moz-range-thumb {
  opacity: 1;
}
